<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374218943539-ffh3k2mlp9qu877uhd9m1p6fkeb7vnns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374218943539-ffh3k2mlp9qu877uhd9m1p6fkeb7vnns</string>
	<key>API_KEY</key>
	<string>AIzaSyDzoN-9gvcZxPYgaICOzdmW4Vz2-htiyIg</string>
	<key>GCM_SENDER_ID</key>
	<string>374218943539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pedromaironi.designcode</string>
	<key>PROJECT_ID</key>
	<string>designcode-4c0d8</string>
	<key>STORAGE_BUCKET</key>
	<string>designcode-4c0d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374218943539:ios:f9188f8d98eaa2c51a8746</string>
</dict>
</plist>